

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsla(235, 0%, 100%, 1);
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 20px 50px;
  font-family: 'Orbitron', sans-serif;
}
.nav-link {
  font-size: 15px;
}
#logo {
            max-width: 200px;
            height: auto;
        }

        #container {
            text-align: center;
            font-family: 'Orbitron', sans-serif;
        }

        #bio {
            max-width: 600px;
            margin: 20px auto;
            text-align: justify;
            
        }
header {
  padding: 5px;
  text-align: center;
  color: black;
  box-shadow: 1px 6px 19px -1px rgba(65, 65, 65, 1);
  background-color: hsla(235, 0%, 88%, 1);
  border-radius: 0.50rem;
  font-family: 'Teko', sans-serif;
  max-width: 100%;
  height: auto;
  font-size: 20px;
}

section {
  padding: 20px;
  text-align: center;
}
section img {
      max-width: 50%;
      box-shadow:  -2px 4px 100px -21px rgba(36, 55, 255, 1);
  border-radius: 20rem;
  max-height: 50%;
  max-width: 50%;
}
.section-p {
  
  background-color: rgba(0, 0, 0, 0.66);
border-radius:0.50em;
  max-width: 100%;
  height: auto;
  font-size: 1.1rem;
  font-family: 'Genos', sans-serif;
  
  color: white;
}
.section-p2 {
    font-family: 'Orbitron', sans-serif;
    color: black;
    
}
.section-p3 {
    font-family: 'Genos', sans-serif;
    color:black;
}
.sec-img {
  box-shadow:  10px 5px 19px -1px rgba(65, 65, 65, 1);
  border-radius: 1rem;
  max-height: 100%;
  max-width: 100%;
}

        .social-icons {
            margin-top: 1em;
    display: flex;
    justify-content: center;
           
            
        }
        .social-icons a {
            display: inline-block;
            margin-right: 10px;
            
        }
     /* Three columns side by side */
.column {
  float: left;
  width:  40.10%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
      top: 50%;
      left: 50%;
      
    display: block;  
    overflow: hidden;
      max-width: 100%;
      height: auto;
    
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 width: 90%;
 height: 90%;
  border-radius: 2rem;
  background-color: #0000004A;
    top: 0.7%;
    left: 0.70%;
    
  
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
  
 
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;

}

.title {
  color: black;
  font-family: 'Orbitron', sans-serif;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.container-h2{
  font-family: 'Genos', sans-serif;
  color: black;
}
.kelas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3px;
  font-weight: 6px;
}
.logo {  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  font-size: 5px;
}
.officers img{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
   
}
.vidio {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
   
}